* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    padding: 50px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* code regarding top navigation bar */

h1 {
    font-size: 38px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.right-nav:hover {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-10deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.burger-menu {
    display: none;
}

@media only screen and (max-width: 600px) {
    .burger-menu {
        display: flex;
        align-items: center;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 110px;
    left: 400px;
    width: 120px;
    height: 120px;
    background-color: rgba(69, 66, 67, 0.5);
    list-style: none;
    font-size: 16px;
    margin: 0;
    transform: translate(-50%, -50%);
    border-radius: 30% 70% 70% 30% / 53% 30% 70% 47%;
}

@media only screen and (min-width: 601px) {
    .dropdown-menu {
        left: 400px;
    }
}

#dropdown-menu.show-menu {
    display: block;
}

.dropdown {
    padding: 10px 0 10px 0;
}

.dropdown:hover {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-10deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}


@media only screen and (max-width: 600px) {
    .burger-menu {
        display: flex;
        align-items: center;
    }
}

.show-menu {
    display: block;
}

@media screen and (max-width: 600px) {
    nav .top-nav {
        display: none;
    }
}

/* code regarding main banner */

.image {
    position: relative;
    height: 900px;
}


.photo {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    border-radius: 30% 70% 70% 30% / 53% 30% 70% 47%;
    width: 570px;
    height: 520px;
    animation: animate-image 5s ease-in-out infinite alternate;
}

@media only screen and (max-width: 600px) {
    .photo {
        width: 270px;
        height: 220px;
        left: 50%;
        top: 35%;
    }
}

.blob {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 570px;
    height: 520px;
    border-radius: 30% 70% 70% 30% / 53% 30% 70% 47%;
    background-color: rgb(255, 194, 204);
    z-index: -1;
    animation: animate-image 7s ease-in-out infinite alternate;
    animation-delay: 1s;
}

@media only screen and (max-width: 600px) {
    .blob {
        width: 270px;
        height: 220px;
        left: 50%;
        top: 35%;
    }
}

@keyframes animate-image {
    0% {
        border-radius: 30% 70% 70% 30% / 53% 30% 70% 47%;
    }

    50% {
        border-radius: 70% 30% 30% 70% / 47% 70% 30% 53%;
    }

    100% {
        border-radius: 30% 70% 70% 30% / 53% 30% 70% 47%;
    }
}

@keyframes animate-blob {
    0% {
        border-radius: 90% 50% 20% 60% / 47% 70% 30% 53%;
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        border-radius: 30% 50% 50% 30% / 53% 30% 60% 47%;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        border-radius: 40% 30% 30% 20% / 47% 70% 30% 53%;
        transform: translate(-50%, -50%) scale(1);
    }
}

.banner {
    position: relative;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .banner {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.intro {
    position: absolute;
    top: 45%;
    left: 68%;
    transform: translate(-50%, -50%);
    /* adjust to your needs */
}

@media only screen and (max-width: 600px) {
    .intro {
        width: 100%;
        text-align: center;
        padding-top: 300px;
        ;
    }
}

h2 {
    font-size: 62px;
    display: flex;
    margin: 0;
    padding: 20px 0 20px 0;
    color: white;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 42px;
        width: auto;
    }
}

.intro-text {
    display: flex;
    align-items: center;

}

.prompt {
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .prompt {
        font-size: 16px;
    }
}

/* code regarding about me section */

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin: 0;
    padding: 100px 400px 0 400px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 0 0;
        gap: 50px;
    }
}

.tldr-section {
    border-right: 1px solid rgb(255, 255, 255);
    padding-right: 50px;
}

@media only screen and (max-width: 600px) {
    .tldr-section {
        padding: 100px 0 0 0;
        border-right: none;
        border-bottom: 1px solid rgb(255, 255, 255);
    }
}

.short-form {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
    .short-form {
        font-size: 30px;
        padding-bottom: 30px;
    }
}

.long-form {
    font-size: 22px;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
    .long-form {
        font-size: 16px;
    }
}

/* code regarding about project 1 */

h3 {
    font-size: 58px;
    text-align: center;
    padding: 180px 0 120px 0;
}

@media only screen and (max-width: 600px) {
    .h3 {
        font-size: 58px;
        text-align: center;
        padding-bottom: 150px;
        padding-top: 20px;
    }
}

.project-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .project-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

@media only screen and (max-width: 600px) {
    .details {
        width: 100%;
        padding-top: 10px;
    }
}

.type {
    font-style: italic;
    font-size: 20px;
    padding: 10px 0 20px 0;
    color: rgb(255, 255, 255);
}

p {
    font-size: 14px;
    max-width: 500px;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
    p {
        max-width: 400px;
        padding-bottom: 20px;
    }
}

.command {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .command {
        padding-bottom: 30px;
        align-items: center;
    }
}

.material-symbols-outlined {
    padding: 0 0 0 10px;
    color: rgb(255, 255, 255);
}

.preview {
    border-radius: 20px;
    height: 400px;
    width: 50%;
    background-image: url("/Users/iva/ga-project/images/thumbnail_Screen Shot 2023-04-16 at 1.53.04 pm.jpg");
    background-size: cover;
    filter: grayscale(80%);
    transition: filter 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .preview {
        height: 165px;
        width: 100%;
        padding-top: 20px;
    }
}

.preview:hover {
    filter: grayscale(0%);
}

.title {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

/* code regarding about project 2 */

.project-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0 0 0;
}

@media only screen and (max-width: 600px) {
    .project-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.preview-2 {
    border-radius: 20px;
    height: 400px;
    width: 50%;
    background-image: url("/Users/iva/ga-project/images/Screen Shot 2023-04-16 at 6.08.39 pm.jpeg");
    background-size: cover;
    filter: grayscale(80%);
    transition: filter 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .preview-2 {
        height: 155px;
        width: 100%;
        padding-top: 20px;
    }
}

.preview-2:hover {
    filter: grayscale(0%);
}

.title-2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
    .title-2 {
        padding-top: 10px;
    }
}

/* code regarding footer */

h4 {
    padding: 150px 0 20px 0;
    font-size: 58px;
    margin: 0;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
    h4 {
        font-size: 38px;
    }
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 500px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255);
    ;
    border-bottom: 1px solid rgb(255, 255, 255);
    ;
    font-size: 24px;
    padding: 10px 0 10px 0;
}

@media only screen and (max-width: 600px) {
    .links {
        font-size: 16px;
        width: 200px;
    }
}

.links:last-child {
    border-top: none;
}

.links:first-child {
    border-bottom: none;
}

.left-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-footer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 600px) {
    .right-footer {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}


.blob-2 {
    position: relative;
    top: 100px;
    right: 10px;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 30% 70% 70% 30% / 53% 30% 70% 47%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
    animation: animate-image 7s ease-in-out infinite alternate;
    animation-delay: 1s;
}

@media only screen and (max-width: 600px) {
    .blob-2 {
        left: 100px;
        top: 70px;
        width: 150px;
        height: 150px;
        display: none;
    }
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    ;
}

@media only screen and (max-width: 600px) {
    a {
        width: 100px;
    }
}

.text {
    position: absolute;
    right: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .text {
        right: 50px;
        width: 120px;
        display: none;
    }
}